.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content {
  min-width: 200px;
  padding: 55px 12px 30px;
}

/* SearchBar styling */
.form-container {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form-container input {
  width: 30rem;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid black;
}
.form-container button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

/* NewList styling */

ol ::marker {
  font-size: 15px;
}

ol {
   margin-top: 1rem;
}

.newsLi {
   margin-bottom: 1rem;
}

.newsLi:hover {
  background-color: rgba(53, 53, 53, 0.128);
}

/* Pagination styling */

.paginatorContainer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 3rem;
   margin-bottom: 0.5rem;
}
